<div class="holder">
        <div class="row notification-list read-{{notification.read}}" ng-repeat="notification in $ctrl.notifications" >
                <div class="row notification-list-item"> 
                    <div class="col-12 {{notification.read ? '' : 'bolder'}}">
                        {{notification.notification}} 
                    </div>
                </div>
                <div class="row notification-list-item"> 
                    <div class="col-2">
                        <strong class="{{notification.read ? '' : 'bolder'}}">Date: </strong> 
                    </div>
                    <div class="col-10 notification-list-value">
                        {{notification.date}} 
                    </div>
                </div>
            </div>
    </div>
    