<div ng-repeat="metric in $ctrl.metrics">
    <div class="row">
        <div class="heading-dark col-12">
                <h4>{{metric.title}}</h4>
        </div>
    </div>
    <div class="row tile-carousel">
        <div class="hover-arrows arrow-left my-auto" hidden ><i class="fas fa-chevron-left fa-2x"></i></div>
        <div class="hover-arrows arrow-right my-auto"><i class="fas fa-chevron-right fa-2x"></i></div>
        <div class="tile col-6" ng-repeat="data in metric.data">
            <a href=".#!/{{data.destination}}?filtername={{data.description}}">
            <h1 class="digit g-text text-center">{{data.quantity}}</h1>
                <div class="container">
                    <div class="row tile-title">
                        <div class="col-4">
                            <i class="{{data.icon}} fa-2x icon g-text"></i>
                        </div>
                        <div class="col-8">
                            <p class="small-text white-text"> {{data.description}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>